<div class="container">
  <div class="side-bar">
    <div class="heading-title">
      Weather <br/>For All
    </div>
    <div *ngFor="let _weatherData of weatherData">
      <app-link-tile
        [region]="getRegionStats(_weatherData | async)"
        (regionChanged)="regionChanged($event)"
      ></app-link-tile>
    </div>
  </div>
  <div class="main-body">
    <div class="upper-body">
      <div class="basic-info">
        <div>
          <span class="temp-banner">18</span>
          <span class="degree">°</span>
        </div>
      </div>
      <div class="image-container"></div>
    </div>
    <div class="stats-tiles">
      <div
      *ngFor="let tile of weatherData">
        <app-stats-tile [tile]="getRegionTiles(tile | async)"></app-stats-tile>
      </div>

    </div>
  </div>
</div>
