.container {
  margin: 0;
  padding: 0;
  color: white;

  display: grid;
  grid-template-columns: 1fr 4fr;

  .side-bar {
    margin-left: 40px;
    background: #402f4f;
    height: 80vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .heading-title {
      font-size: 4em;
      margin: 20px 0 25px;
      padding: 30px;
    }
  }

  .main-body {
    padding: 5em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;

    .upper-body {
      display: flex;
      justify-content: space-between;

      .basic-info {

        .temp-container {
          display: flex;
          align-items: start;
          justify-content: start;
          .temp-banner {
            font-size: 7em;
          }

          .degree {
            font-size: 6em;
            //align-self: flex-start;
          }
        }
      }

      .image-container {
        fa-icon {
          font-size: 7em;
        }
      }
    }

    .stats-tiles {
      width: 100%;
    }
  }
}
