.container {
  margin: 0;
  padding: 0;
  color: white;

  display: grid;
  grid-template-columns: 1fr 4fr;

  .side-bar {
    margin-left: 40px;
    background: #402f4f;
    height: 80vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .heading-title {
      font-size: 4em;
      margin: 20px 0 25px;
      padding: 30px;
    }
  }

  .main-body {
    height: 100%;
  }
}

