.link-body {
  padding: 5px 20px;
  display: flex;
  flex-flow: column;
  margin: 0;
  background: #3d2441;
  color: white;
  font-family: "Helvetica Neue LT Std 45 Light", sans-serif;
  border-bottom: 1px solid grey;

  align-items: start;
}
