.link-body {
  padding: 5px 20px;
  display: flex;
  flex-flow: column;
  margin: 0;
  color: white;
  font-family: "Helvetica Neue LT Std 45 Light", sans-serif;
  border-bottom: 1px solid grey;

  align-items: start;
}

.link-body:hover {
  background: #b83957 !important;
}

.active-link {
  background: #b83957 !important;
}
